*.la
*.lo
*.o
*.so
*.so.0
*.so.0.0.0
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.config
.deps
.history
.libs
.mozilla
.ssh
.viminfo
Backup
Logs
Makefile
aclocal.m4
autom4te.cache
autoscan.log
bin
config
config.h
config.log
config.status
configure
core.*
ctllogs
libtool
stamp-h1
